.status-message {
  display: flex;
  align-items: center;
  gap: .375rem;
  margin-top: .5rem;
}

.status-message .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
}